
  <div class="columns is-mobile is-multiline is-centered">
  <form action="/admin/<%= gift._id %>/edit" method="get">
    <button class="button is-info">Editer cadeau</button>
  </form>

  <form action="/admin/<%= gift._id %>/delete" method="get">
    <button class="button is-info">Supprimer cadeau</button>
  </form>

  <form action="/admin/index" method="get">
    <button class="button is-info">Annuler</button>
  </form>
</div>
<div class="container">

      <img src="<%= gift.imgPath %>" alt="gift picture" id="detail-picture" />

      <div class= "description">
      <h2><%= gift.name %> - <%= gift.price %> €</h2>

       <p><strong>Description: </strong> <br>
         <%= gift.description %>
       </p>

       <p><strong>Catégories: </strong> <br>
         <%= gift.tags %>
       </p>

       <p><strong>Magasin: </strong><br>
         <%= gift.store.name %>
       </p>
      </div>


</div>
