
<div class="container">
    
      <img src="<%= gift.imgPath %>" alt="gift picture" id="detail-picture" />
    
      <div class= "description">
      <h2><%= gift.name %> - <%= gift.price %> €</h2>
      
       <p><strong>Description: </strong> <br>
         <%= gift.description %>
       </p>

       <p><strong>Catégories: </strong> <br>
         <%= gift.tags %>
       </p>

       <p><strong>Magasin: </strong><br>
         <%= gift.store.name %>
       </p>
      </div>
      
      <form action="/admin/<%= gift._id %>/edit" method="get">
        <button>Editer cadeau</button>
      </form>
      
      <form action="/admin/<%= gift._id %>/delete" method="get">
        <button>Supprimer cadeau</button>
      </form>

      <form action="/admin/index" method="get">
        <button>Annulé</button>
      </form>
</div>