
<div id="container">

  <img src="<%= gift.imgPath %>" alt="gift picture" id="detail-picture";/>

  <div id= "description">
  <h1><%= gift.name %></h1>
  <h2>
    <%= gift.price %> €
  </h2>
  <p>
    <%= gift.description %>
  </p>

  <a href ="<%= gift.store.url %>" target="_blank">
    <%= gift.store.name %>
  </a>

  <ul>
    <% for(var i =0; i < gift.store.places.length; i++){ %>
      <li>
      <%= gift.store.places[i].address %>
    </li>
    <% } %>
  </ul>
</div>
</div>
