
<div class="container">

  <img src="<%= gift.imgPath %>" alt="gift picture" id="detail-picture";/>

  <div class= "description">
  <h2><%= gift.name %> - <%= gift.price %> €</h2>

  <p>
    <%= gift.description %>
  </p>

  <a href ="<%= gift.store.url %>" target="_blank">
    <%= gift.store.name %>
  </a>

  <!-- <ul>
    <% for(var i =0; i < gift.store.places.length; i++){ %>
      <li>
      <%= gift.store.places[i].address %>
    </li>
    <% } %>
  </ul> -->

  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDdE1Uze4cUL9zFAaoqPbkV-2KpOkb0m2g
      &q=Nature+et+découvertes,Paris+France" allowfullscreen>
  </iframe>

</div>

</div>
