<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">

    <div class="navbar-start">
      <a class="navbar-item">
      A propos
      </a>
    </div>
    <a href="/logout">Deconnexion</a>
    <div class="navbar-end">
      <a class="navbar-item" href="/login">
      Connexion
      </a>
    </div>
   </div>
</nav>


<h1>Bienvenue </h1>
<div>
  <form action="/" method="get">
    <label>Categories
      <select name="categorie">
        <option>
        <option value="enfant">Enfant</option>
        <option value="adulte">Adulte</option>
        <option value="cuisine">Cuisine</option>
        <option value="bien-être">Bien-être</option>
        <option value="apprentissage">apprentissage</option>
        <option value="maison">maison</option>
        <option value="voyage">voyage</option>
        <option value="jeux">jeux</option>
          <option value="jeu de plein air">jeu de plein air</option>
      </select>
    </label>
    <label>Budget Minimum
      <select name="budgetMin">
        <option></option>
        <% for (var i = 10; i <=30; i+= 10) { %>
          <option
           value="<%= i %>"
           <%= budgetMinPreviouslySelected == i ? "selected" : "" %>
           >
           <%= i %>€
          </option>
        <% } %>
      </select>
    </label>
    <label>Budget Maximum
        <select name="budgetMax">
          <option></option>
          <% for (var i = 10; i <= 40; i+=10) { %>
              <option
                value="<%= i %>"
                <%= budgetMaxPreviouslySelected == i ? "selected" : "" %>
              >
                <%= i %>€
              </option>
          <% } %>
       </select>
     </label>
    <button type="submit">Rechercher</button>
  </form>
</div>



<div class= "gift">
  <% if (allGifts.length > 0) { %>
   <% allGifts.forEach((gift) => { %>

    <div class="gift-display"
    <p>
      <%= gift.name %>
    </p>
    <img src="<%= gift.imgPath %>" alt="gift picture" width="100%" />
    <p>
      <%= gift.price %> €
    </p>
    <form action="/gifts/<%= gift._id %>" method="get">
      <input type="submit" value="Voir cadeau">
    </form>
  </div>
   <% }) %>
  <% } %>
</div>
