<h1>Welcome to the </h1>

<pre>
<%- allGifts %>
</pre>

<div>
  <% if (allGifts.length > 0) { %>
   <% allGifts.forEach((gift) => { %>
    <p>
      <%= gift.name %>
    </p>
    <img src="<%= gift.imgPath %>" alt="gift picture" width="20%" />
    <p>
      <%= gift.price %> €
    </p>
    <form action="/giftDetail/<%= gift._id %>" method="get">
      <input type="submit" value="Voir cadeau">
    </form>
   <% }) %>
  <% } %>
</div>

<a href="/logout">Logout</a>
