

<h1>Des idées de cadeaux pour toute la famille</h1>

<div class="select-cat">
  <form action="/" method="get">
    <!-- <label>Catégories -->
      <select name="categorie">
        <option value="" disabled selected>Sélectionnez une catégorie</option>
        <option value="enfant">Enfant</option>
        <option value="adulte">Adulte</option>
        <option value="cuisine">Cuisine</option>
        <option value="bien-être">Bien-être</option>
        <option value="apprentissage">Apprentissage</option>
        <option value="maison">Maison</option>
        <option value="voyage">Voyages</option>
        <option value="jeux">Jeux</option>
          <option value="jeu de plein air">Jeux de plein air</option>
      </select>
    <!-- </label> -->
    <!-- <label>Budget Minimum -->

      <select name="budgetMin">
        <option value="" disabled selected>Sélectionnez un prix minimum</option>
        <% for (var i = 10; i <=30; i+= 10) { %>
          <option
           value="<%= i %>"
           <%= budgetMinPreviouslySelected == i ? "selected" : "" %>
           >
           <%= i %>€
          </option>
        <% } %>
      </select>

    <!-- </label> -->
    <!-- <label>Budget Maximum -->

        <select name="budgetMax">
          <option value="" disabled selected>Sélectionnez un prix maximum</option>
          <% for (var i = 10; i <= 40; i+=10) { %>
              <option
                value="<%= i %>"
                <%= budgetMaxPreviouslySelected == i ? "selected" : "" %>
              >
                <%= i %>€
              </option>
          <% } %>
       </select>

       <!-- <input type="range" name="price-min" id="price-min" value="10" min="0" max="1000" step="1">
       <input type="range" name="price-max" id="price-max" value="40" min="0" max="1000" step="1"> -->



     <!-- </label> -->
    <button type="submit">Rechercher</button>
  </form>
</div>



<div class= "gift">
  <% if (allGifts.length > 0) { %>
   <% allGifts.forEach((gift) => { %>

    <div class="gift-display">
      <a href="/gifts/<%= gift._id %>">
    <h2>
      <%= gift.name %>
    </h2>
    <img src="<%= gift.imgPath %>" alt="gift picture" width="100%" />
    <p>
      <%= gift.price %> €
    </p>
    <!-- <form action="/gifts/<%= gift._id %>" method="get">
      <input type="submit" value="Voir cadeau">
    </form> -->
  </div>
   <% }) %>
  <% } %>
</a>
</div>
